@import url('./norm.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;700;800&display=swap');

:root {
  --primary-blue: rgb(0, 114, 229);
  --primary-black: rgb(10, 25, 41);
	--black: #24292d;
	--black-dimmer: #2b3137;
	--gray: #58606a;
	--light-gray: #949da7;
	--lighter-gray: #b4bdc8;
	--border-gray: #e7e9ea;
	--back-gray: #f6f8fa;
	--white: #ffffff;
	--red: #db2c00;
	--green: rgb(45, 164, 79);
	--blue: #0d74e7;
	--blue2: #0969da;
	--purple: #6e5494;
}

.root {
	min-height: 100vh;
	background-color: var(--back-gray);
}

.app {
  height: 100vh;
  padding: 0 2rem;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: auto auto 1fr 5rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.heading {
  width: 34rem;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.25rem;
  font-weight: 800;
  color: var(--primary-black);
  padding: 5rem 0;
  padding-bottom: 2rem;
  grid-column: 1 / 3;
  justify-self: center;
}

.heading__logo {
  color: var(--primary-blue);
}

.inputForm {
  width: 34rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  grid-column: 1 / 3;
  justify-self: center;
  display: grid;
  grid-template-columns: 28rem 3rem;
  align-items: center;
  gap: 1rem
}

.inputForm__input {
  height: 2.4rem;
  width: 28rem;
  padding: 0 .5rem;
  border: 1px solid var(--border-gray);
  border-radius: .25rem;
  outline: none;
  font-size: 1rem;
}

.paper__container {
  display: grid;
  align-content: start;
}

.doneSection,
.notDoneSection {
  min-width: 20rem;
  width: 30vw;
  min-height: 20rem;
  padding: 1rem;
}

.notDoneSection {
  justify-self: end;
}

.doneSection {
  justify-self: start;
}

.paper {
  display: grid;
  grid-template-rows: 1fr 1.5rem;
}

.paper__label {
  align-self: center;
  justify-self: center;
  color: var(--lighter-gray);
}

.card {
  display: inline-block;
  line-height: 1.25;
  padding: .5rem .25rem;
  margin: .25rem .25rem;
  border: 1px solid var(--border-gray);
  border-radius: 1.25rem;
  background-color: var(--back-gray);
}

.card:hover {
  background-color: var(--border-gray);
}

.card__done {
  margin-right: .25rem;
}

.card__done.editing {
  pointer-events: none;
}

.card__word.done {
  text-decoration: line-through;
}

.card__done > svg,
.card__edit > svg,
.card__delete > svg {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: bottom;
}

.card__edit > svg,
.card__delete > svg {
  color: transparent;
  margin: 0 .125rem;
}

.card__done > svg {
  color: var(--light-gray);
}

.card:hover > .card__edit > svg,
.card:hover > .card__delete > svg {
  color: var(--light-gray);
}

.card:hover > .card__done:hover > svg,
.card:hover > .card__edit:hover > svg {
  color: var(--black);
}

.card:hover > .card__delete:hover > svg {
  color: var(--red);
}

.card__done.done > svg {
  color: rgb(45, 164, 79, 0.6) !important;
}

.card__done.done:hover > svg {
  color: var(--green) !important;
}

.card__word {
  user-select: none;
  margin-right: .5rem;
}

.card__input {
  border: 0;
  outline: none;
  display: inline-block;
  margin-right: .5rem;
  font-size: 1rem;
  background-color: var(--back-gray);
}

.card__save,
.card__cancel {
  vertical-align: bottom;
  width: 1.2rem;
  height: 1.2rem;
}

.card__save:hover {
  color: var(--green);
}

.card__cancel:hover {
  color: var(--red);
}

.footer {
  grid-column: 1 / 3;
  justify-self: center;
}